@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Lexend+Deca:wght@100..900&family=Poiret+One&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0px;
}

body{
    background-color: #D0C9F5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div{
    background-color: white;
    max-width: 80%;
    min-width: 400px;
    margin:auto;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: -5px 7px 20px 2px rgba(0, 0, 0, 0.226);;
}

div > header{
    font-family: Quicksand;
    width: 100%;
}

div > header > h1{
    font-weight: normal;
    margin: 30px 15% 30px 50px;
    display: inline-block;
    width: 20%;
}

div > header > nav{
    display: inline-block;
    text-align: right;
    width: 50%
}

div > header > nav > a{
    margin-right: 20px;
    text-decoration: none;
    color: #373F51;
}

div > header > nav > a:hover{
    text-decoration: underline;
    color: #2b2d31;
}

main{
    padding: 0px;
    height: 300px;
    margin: 50px;
   
}

div > main > section{
    width: 40%;
    display: inline-block;
    margin-right: 100px;
    margin-left: 80px;
}


div > main> section> h1 {
    display: inline-block;
    font-family: Lexend Deca;
    font-weight: normal;
}

div > main > section> p{
    font-family: Gafata;
    margin-top:10px;
    font-size: 1.2em;
}

.texto_hist{
    text-align: justify;
    font-size: 1em;
    margin-top: 35px;
    width: 70%;
    margin-bottom: 35px;
}

div > main > picture{
    display: inline-block;
    width: 220px;
    height: 220px;
    padding: 5px;
}

div > main> picture> img{
    border-radius: 70px;
    width: 100%;
    height: 100%;
}

div > main > section > a{
    background-color: #6A53E1;
    border-radius: 10px;
    border: solid #6A53E1 10px;
    color: white;
    text-decoration: none;
}

div > main > section > a:hover{
    background-color: #8b6eff;
    border: solid #8b6eff, 10px;
    transition-duration: 0.3s;
}

footer{
    text-align: center;
    height: 50px;
}

div > footer > a{
    margin-right: 30px;
}

div > footer > a > img{
    height: 25px;
    width: 25px;
}