@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Genos:ital,wght@0,100..900;1,100..900&family=Kite+One&family=Mina:wght@400;700&family=Ramabhadra&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #C3BFBF;
}

header{
    padding: 20px;
    margin-bottom: 10px;
}

header > h1{
    font-family: genos;
}

header > nav{
    padding: 10px;
}

header > nav > a{
    color: black;
    font-family: mina;
    text-decoration: none;
}

header > nav > a:hover{
    text-decoration: underline;
}

.bordao{
    margin: auto;
    padding: 20px;
    max-width: 900px;
    min-width: 300px;
    margin-bottom: 2%;
}

.titulo{
    display: inline-block;
    margin-right: 15%;
}

.titulo > h1{
    margin-bottom: 10px;
    font-family: gantari;
    font-size: 5em;
    
}

.texto{
    display: inline-block;
    font-family: mina;
    margin-top: 2%;
}

main{
    background-color: #dfdfdf;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.noticia{
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border-radius: 20px;
    width: 280px;
    margin: 10px;
    padding: 6px;
    margin-right: 40px;
    margin-left: 40px;
}

.noticia > picture{
    display: block;
    width: 100%;
    height: 180px;
    margin-bottom: 5%;
    border-radius: 20px;
}

.noticia > picture > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.noticia > .bloco_texto{
    width: 100%;
}

.noticia > .bloco_texto > h1{
    text-align: justify;
    font-family: mina;
    font-size: 0.9em;
    padding: 5px;
}

.noticia > .bloco_texto > p{
    padding: 5px;
    text-indent: 5px;
    text-align: justify;
    font-family: mina;
}
